{{#if filteredItems.melee-weapon}}
<div class="{{partialClasses}} meleeWeapons block">
    <div class="blockTitle">Melee Weapons</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th class="center"><i class="game-icon game-icon-fist icon-md"></i></th>
                    <th>Title</th>
                    <th class="center">Size</th>
                    <th class="center">Type</th>
                    <th class="center" title="Damage rating">DR</th>
                    <th class="center">Hands</th>
                    <th>Wounds</th>
                    <th>Keywords</th>
                    <th>Actions</th>
                </tr>
            </thead>
        <!-- <div>Title(Description) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each filteredItems.melee-weapon as |weapon index|}}
                <tr>
                    <td class="center"><div class="attackIconWrapper"><a class="attackWithWeapon" data-weapon-id={{weapon.itemID}}>{{{weapon.system.attackIcon}}}</a></div></td>
                    <td title="{{convertHTMLForTitle weapon.system.description}}"><a class="itemTitle" data-item-id="{{weapon.itemID}}"><i class="fas fa-info-circle fa-xs"></i> {{weapon.name}}</a></td>
                    <td class="center">{{weapon.system.weaponSize}}</td>
                    <td class="center">{{weapon.system.weaponType}}</td>
                    <td class="center">{{weapon.system.damageRating}}</td>
                    <td class="center">{{weapon.system.requiredHands}}</td>
                    <td>{{{weapon.system.woundConditions}}}</td>
                    <td>{{{weapon.system.keywords}}}</td>
                    <td>{{{weapon.system.customActions}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}