{{#if filteredItems.shield}}
<div class="{{partialClasses}} meleeWeapons block">
    <div class="blockTitle">Shields</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th class="center"><i class="game-icon game-icon-fist icon-md"></i></th>
                    <th>Title</th>
                    <th class="center">Size</th>
                    <th class="center">Type</th>
                    <th class="center">Melee Block</th>
                    <th class="center">Ranged Block</th>
                    <th class="center" title="Damage rating">DR</th>
                    <th class="center">Hands</th>
                    <th>Wounds</th>
                    <th>Keywords</th>
					<th>Actions</th>
					
                </tr>
            </thead>
        <!-- <div>Title(Description) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each filteredItems.shield as |shield index|}}
                <tr>
                    <td class="center"><div class="attackIconWrapper"><a class="attackWithWeapon" data-weapon-id={{shield.itemID}}>{{{shield.system.attackIcon}}}</a></div></td>
                    <td title="{{convertHTMLForTitle shield.system.description}}"><a class="itemTitle" data-item-id="{{shield.itemID}}"><i class="fas fa-info-circle fa-xs"></i> {{shield.name}}</a></td>
                    <td class="center">{{shield.system.weaponSize}}</td>
                    <td class="center">{{shield.system.weaponType}}</td>
                    <td class="center">{{shield.system.meleeBlockBonus}}</td>
                    <td class="center">{{shield.system.rangedBlockBonus}}</td>
                    <td class="center">{{shield.system.damageRating}}</td>
                    <td class="center">{{shield.system.requiredHands}}</td>
                    <td>{{{shield.system.woundConditions}}}</td>
                    <td>{{{shield.system.keywords}}}</td>
                    <td>{{{shield.system.customActions}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}