<form class="{{cssClass}} perkItem flexColumn " autocomplete="off">
	<input type="submit" hidden />
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			<div class="cell100 flexRow verticalCenter flexBetween lastRow">
				<label class="cell30" for="system.setting">{{localize "PRIME.core_setting"}}:</label>
				<select name="system.setting" id="system.setting" class="itemRarity cell70">
					{{#select system.setting}}
					{{#each coreTables.settings}}
					<option value="{{this.key}}">{{this.title}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
	</div>

	<div class="flexRow flexBetween flexWrap block infoBlock costsBlock">
		<div class="blockTitle">Action details</div>

		<div class="cell30 flexRow flexBetween verticalCenter">
			<label for="system.points" class="resource-label cell50 rightAlign">AP cost:</label>
			<input type="text" id="system.points" name="system.points" class="cell50" value="{{system.points}}" data-dtype="Number" data-min="0" data-max="6"/>
		</div>

		<div class="cell50 flexRow flexBetween verticalCenter">
			<label for="system.type" class="resource-label cell20 rightAlign">Type:</label>
			<select id="system.type" name="system.type" class="cell80" data-effect-id="{{effectID}}" data-effect-flag-key="path">
				{{#select system.type}}
				{{#each actionTables.actionTypes}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>

		<div class="cell20 flexRow flexBetween verticalCenter">
			<label for="system.default" class="resource-label cell80 rightAlign" title="Action is available to all characters by default.">Default:</label>
			<input type="checkbox" id="system.default" name="system.default" class="cell20" {{checked system.default}}/>
		</div>
	</div>

	<div class="flexRow flexBetween flexWrap block infoBlock actionEffectBlock">
		<div class="blockTitle">Effects</div>

		<div class="effectsWrapper">
			{{#each effects as |effect key|}}
			<div class="cell100 flexRow flexBetween flexWrap infoBlock actionEffectWrapper">
				<div class="actionEffectIndex">{{effect.actualCount}}</div>
				{{log effect}}
				<div class="cell100 flexRow flexBetween verticalCenter">
					<label for="system.effects.{{key}}.effectSubType" class="resource-label cell30 rightAlign">Type:</label>
					<select id="system.effects.{{key}}.effectSubType" name="system.effects.{{key}}.effectSubType" class="cell70 effectFormElement" data-effect-id="{{effectID}}" data-effect-flag-key="effectSubType">
						{{#select effect.effectSubType}}
						{{#each ../actionTables.effectTypes}}
						<option value="{{this.key}}">{{this.title}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>

				<div class="cell100 flexRow flexBetween verticalCenter">
					<label for="system.effects.{{key}}.path" class="resource-label cell30 rightAlign">Target:</label>
					<select id="system.effects.{{key}}.path" name="system.effects.{{key}}.path" class="cell70 effectFormElement" data-effect-id="{{effectID}}" data-effect-flag-key="path">
						{{#select effect.path}}
						{{#each effect.dynamicDataForEffectTarget}}
						<option value="{{this.key}}">{{this.title}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>

				<div class="cell100 flexRow flexBetween verticalCenter lastRow">
					<label for="system.effects.{{key}}.value" class="resource-label cell30 rightAlign">Value:</label>
					<input type="text" id="system.effects.{{key}}.value" name="system.effects.{{key}}.value" class="cell70 effectFormElement" data-effect-id="{{effectID}}" data-effect-flag-key="value" value="{{effect.value}}" data-dtype="Number" data-min="-10" data-max="10"/>
				</div>

				<a class="removeEffectIcon" data-effect-id="{{effectID}}"><i class="fas fa-trash"></i></a>
			</div>
			{{/each}}
		</div>

		<a class="addEffectIcon" data-effect-type="actionEffect"><i class="fas fa-plus"></i></a>
	</div>


	{{> itemDescription }}

	{{> itemMetadata }}
</form>